html {
	height: 100%;
}
body{
	margin-top: 130px;
}
	
.heading {
	text-align: center;
	/*background-color: #E9E989;*/
	background-color: #22223b;
	color: #f2e9e4;
	padding-top: 18px;
	padding-bottom: 18px;
	left: 0;
	top:0;
	right: 0;
	position: fixed;
}
.title{
	margin-bottom: -2px;
	font-family: 'Open Sans', sans-serif;
}
.descrip{
	margin-top: -2px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}

.Airline,
.Source,
.Destination,
.Total_Stops,
.Dates{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	
}
select {
	width: 20%;
	height: 35px;
	text-align-last: center;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-style: bold;
	margin-top: 30px;
	border:2px solid #22223b;
	border-radius: 6px;
	cursor: pointer;

}

input {
	height:35px;
	width: 10%;
	border:2px solid #22223b;
	border-radius: 6px;
}

.Dates{
	margin-top: 30px;
}

.departure_p,
.arrival_p{
	margin-bottom:3px;
	font-family: 'Open Sans', sans-serif;
	font-style: bold;
	font-weight: 600;
	font-size: 15px;
}

.submit_div {
	height:45px;
	margin-top: 45px;
	text-align: center;
	
}
.submit_button{
	cursor: pointer;
	width: 200px;
	height: 45px;
	font-family: 'Open Sans', sans-serif;
	font-style: bold;
	font-weight: 800;
	font-size: 18px;
	transition-duration: 0.4s;
	background-color: #22223b;
	color: #f2e9e4;
}

.submit_button:hover{
	background-color: #f2e9e4;
	color: #22223b;
	width: 200px;
	height: 45px;
	font-family: 'Open Sans', sans-serif;
	font-style: bold;
	font-weight: 800;
	font-size: 18px;
	
}

.departure_input,
.arrival_input {
	height: 35px;
	width: 200px;
	font-family: 'Open Sans', sans-serif;
	font-style: bold;
	font-size: 15px;
	cursor: pointer;
	padding-left: 20px;
	
}
.result_price {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-style: bold;
	font-size: 30px;
	margin-top: 150px;
}

.footer {
	text-align: center;
	background-color: #22223b;
	color: #f2e9e4;
	width: 100%;
	left: 0;
	bottom: 0;
	position: fixed;
	padding-top: 10px;
	font-family: 'Open Sans', sans-serif;
}
.footer_p {
	margin-top: 4px;
}
.footer_span {
	color: #f2e9e4;
	padding-right: 5px;
}

a{
	padding-top: 10px;
	text-align: center;
	color: #f2e9e4;
	font-size: 23px;
	padding-right: 4px;
	padding-left: 4px;
}


	
	





